@inherits LayoutComponentBase
@inject TimeProvider _timeProvider;
@inject ActiveAccountServices _activeAccountServices;

<PageTitle>Memories of Azeroth</PageTitle>

<MudThemeProvider Theme="MainTheme.Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25">
        <MudIconButton Icon="@Icons.Material.Filled.HourglassBottom" Color="Color.Inherit" Edge="Edge.Start" />
        
        <a href="">
            <MudText Typo="Typo.h6">Memories of Azeroth</MudText>
        </a>

        <MudSpacer />
        
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
            <MainSearchBoxComponent />
        </MudHidden>

        <LoginDisplay />
    </MudAppBar>

    <MudMainContent>   
        
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudPaper Elevation="25">
                <MudToolBar>
                    <MainSearchBoxComponent/>
                </MudToolBar>
            </MudPaper>
        </MudHidden>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            <ErrorBoundary>
                @{
                    var viewModel = _activeAccountServices.AccountViewModel;
                    if (viewModel != null && Instant.FromUnixTimeMilliseconds(viewModel.BanExpireTime) > SystemClock.Instance.GetCurrentInstant())
                    {
                        <MudCard Class="@ClassPresets.CardHeaderPostCard" Outlined="true" Elevation="10">
                            <MudCardHeader Class="@ClassPresets.CardHeader">
                                <CardHeaderContent>
                                    <MudAlert Severity="Severity.Error" Icon="false" ContentAlignment="HorizontalAlignment.Center">
                                    
                                        <MudText Typo="Typo.h6" Align="Align.Center">Account Banned</MudText>
                                        <MudText Typo="Typo.h6" Align="Align.Center">@viewModel.BanReason</MudText>
                                        <MudText Typo="Typo.h6" Align="Align.Center">@_timeProvider.GetTimeAsLocalStringAgo(Instant.FromUnixTimeMilliseconds(viewModel.BanExpireTime), false)</MudText>

                                    </MudAlert>
                                </CardHeaderContent>
                            </MudCardHeader>
                        </MudCard>
                    }
                    else
                    {
                        @Body
                    }
                }
            </ErrorBoundary>
        </MudContainer>
    </MudMainContent>

    <MainFooter>
    </MainFooter>

    <MudScrollToTop>
        <MudFab Icon="@Icons.Filled.ArrowCircleUp" />
    </MudScrollToTop>
</MudLayout>