@if (AccountViewModel == null)
{

}
else
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderAvatar >
                <MudAvatar Size="Size.Large" Image="@AccountViewModel.Avatar">@AccountViewModel.GetAvatarText()</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <a href="@($"/account/{AccountViewModel.Id}")" tabindex="-1">
                    <MudText Typo="Typo.h6">@AccountViewModel.GetDisplayName()</MudText>
                </a>
                
                @if (string.IsNullOrWhiteSpace(AccountViewModel.BattleTag))
                {
                }
                else
                {
                    <MudText Typo="Typo.body2" Inline="true" Class="my-auto">@AccountViewModel.BattleTag</MudText>
                }
            </CardHeaderContent>
        </MudCardHeader>

        <MudDivider />

        <MudCardContent Class="@ClassPresets.CardContent">
        </MudCardContent>

        <MudDivider />

        <MudCardActions Class="@ClassPresets.CardActions">
            <MudButtonGroup OverrideStyles="true" Class="pa-0 ma-2" Variant="Variant.Filled">
                
                <a href="@($"/follow/{AccountViewModel.Id}")">
                    <MudButton>
                        <MudText Inline="true"><b>@_followingCount</b> Following</MudText>
                    </MudButton>
                </a>
                <a href="@($"/follow/{AccountViewModel.Id}")">
                    <MudButton>
                        <MudText Inline="true" ><b>@_followerCount</b> Followers</MudText>
                    </MudButton>
                </a>

                @{
                    var accountViewModel = Services.ActiveAccountServices.AccountViewModel;
                    if (accountViewModel != null)
                    {
                        accountViewModel.FollowingViewModels.TryGetValue(AccountViewModel.Id, out var followingViewModel);
                        accountViewModel.FollowersViewModels.TryGetValue(AccountViewModel.Id, out var followerViewModel);

                        <AccountFollowingComponent Services="@Services" ActiveAccountViewModel="@accountViewModel" OtherAccountId="@AccountViewModel.Id" FollowingViewModel="@followingViewModel" FollowerViewModel="@followerViewModel"/>
                    }
                }
            </MudButtonGroup>
        </MudCardActions>
    </MudCard>

    var characters = AccountViewModel.GetCharactersSafe();
    if (characters.Length > 0)
    {
        <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
            <MudCardContent Class="@ClassPresets.CardContent">
                @foreach (var character in characters)
                {
                    <CharacterLinkButton @key="character" StringLocalizer="@Services.StringLocalizer" CharacterViewModel="@character" />

                }
            </MudCardContent>
        </MudCard>
    }
}

@code {
    private bool _accountChanged;
    private AccountViewModel _account;

    private int _followerCount;
    private int _followingCount;

    [Parameter, EditorRequired] public IMoaServices Services { get; init; }

    [Parameter, EditorRequired]
    public AccountViewModel AccountViewModel
    {
        get => _account;
        init
        {
            _accountChanged = _account != value;
            _account = value;

            if (_account != null)
            {
                _followerCount = _account.FollowersViewModels.Count(x => x.Value.Status == AccountFollowingStatus.Active);
                _followingCount = _account.FollowingViewModels.Count(x => x.Value.Status == AccountFollowingStatus.Active);
            }
        }
    }

    public bool IsDisabled => !Services.ActiveAccountServices.IsAccountActive;

    public bool IsActiveAccount => Services.ActiveAccountServices.IsAccountActive && Services.ActiveAccountServices.ActiveAccountId == AccountViewModel.Id;
}