@{
    var isRetailSelected = SharedData.SelectedMainTags.FirstOrDefault() == SharedData.MainTags[0];
    <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudChipSet SelectedValues="@SharedData.SelectedMainTags" SelectedValuesChanged="@SharedData.SelectedMainTagsChanged" Mandatory="true" Filter="true">
            @for (var i = 0; i < SharedData.MainTags.Length; i++)
            {
                var index = i;
                var tagInfo = SharedData.MainTags[index];
                <PostTagChipComponent @key="@tagInfo" TagInfo="tagInfo" Default="@(index == 0)" />
            }
        </MudChipSet>
    </MudPaper>

    <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudChipSet SelectedValues="@SharedData.SelectedCommonTags" SelectedValuesChanged="@SharedData.SelectedCommonTagsChanged" Mandatory="true" MultiSelection="true" Filter="true">
            @for (var i = 1; i < SharedData.CommonTags.Length; i++)
            {
                var index = i;
                var tagInfo = SharedData.CommonTags[index];
                <PostTagChipComponent @key="@tagInfo" TagInfo="tagInfo" Default="@(index == 0)" />
            }
        </MudChipSet>
    </MudPaper>

    if (isRetailSelected)
    {
        <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
            @{
                var minTime = Services.ClientServices.TimeProvider.GetTimeAsLocalStringAgo(SharedData.PostTimeStamp, false);
            }
            <MudText Typo="Typo.h6">Matching Achievements from @minTime</MudText>

            @if (SharedData.AchievementTags.Length > 0)
            {
                <MudChipSet SelectedValues="@SharedData.SelectedAchievementTags" SelectedValuesChanged="@SharedData.SelectedAchievementTagsChanged" MultiSelection="true" Filter="true">
                    @for (var i = 0; i < SharedData.AchievementTags.Length; i++)
                    {
                        var index = i;
                        var tagInfo = SharedData.AchievementTags[index];

                        <PostTagChipComponent @key="@tagInfo" TagInfo="tagInfo" />
                    }
                </MudChipSet>
            }
            else
            {
                <MudText Typo="Typo.subtitle1">None</MudText>
            }
        </MudPaper>

        var characters = SharedData.TryGetAccountViewModel?.GetCharactersSafe();
        if (characters != null && characters.Length > 0)
        {
            <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
                <MudTooltip Placement="Placement.End" Color="Color.Dark">
                    <ChildContent>
                        <MudButton Variant="Variant.Filled" Disabled="SharedData.SelectedCharacterId == 0" OnClick="@(_ => SharedData.ChangeSelectedCharacter(0))">
                            <MudAvatar Size="Size.Medium">?</MudAvatar>
                        </MudButton>
                    </ChildContent>
                    <TooltipContent>
                        <MudText>None</MudText>
                    </TooltipContent>
                </MudTooltip>

                @for (var i = 0; i < characters.Length; i++)
                {
                    var index = i;
                    var character = characters[index];
                    if (string.IsNullOrWhiteSpace(character.AvatarLinkWithFallBack))
                    {
                        continue;
                    }

                    var key = $"c-a-tt-{character.Id}";
                    <MudTooltip @key="@key" Placement="Placement.Bottom" Color="Color.Dark">
                        <ChildContent>
                            <MudButton Id="@index" Variant="Variant.Filled" Disabled="SharedData.SelectedCharacterId == character.Id" OnClick="@(_ => SharedData.ChangeSelectedCharacter(character.Id))">
                                <MudAvatar Size="Size.Medium" Image="@character.AvatarLinkWithFallBack" />
                            </MudButton>
                        </ChildContent>
                        <TooltipContent>
                            <CharacterNameLinkComponent CharacterName="@character.Name"
                                        CharacterClass="@character.Class"
                                        CharacterRealmId="@character.RealmId"
                                        CharacterRegionInfo="@character.RegionId.ToInfo()" />

                            <div>
                                <MudText Inline="true" Typo="Typo.body2">@character.Level @Services.ClientServices.StringLocalizer[$"CharacterRace-{character.Race}"]</MudText>
                                <MudText Inline="true" Typo="Typo.body2" Class=@($"wowclass-{character.Class}")>@Services.ClientServices.StringLocalizer[$"CharacterClass-{character.Class}"]</MudText>
                            </div>

                            <RealmLinkComponent Typo="Typo.caption" BlizzardRealmId="@character.RealmId" />
                        </TooltipContent>
                    </MudTooltip>
                }
            </MudPaper>
        }
    }

    <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <SearchBlizzardDataComponent Services="Services" OnSelectedItemChanged="@SharedData.AddSearchDataToTags" />
    </MudPaper>

    <MudPaper Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MainSearchBoxComponent UseCallback="true" Placeholder="Search guilds..." SearchType="MainSearchType.Guild" OnSelectedItemChanged="@SharedData.AddSearchDataToTags" />
    </MudPaper>
}

@code {

    private bool _sharedDataChanged;
    private readonly AddMemoryComponentSharedData _sharedData;

    [Parameter, EditorRequired]
    public IMoaServices Services { get; init; }

    [Parameter, EditorRequired]
    public AddMemoryComponentSharedData SharedData
    {
        get => _sharedData;
        init
        {
            _sharedDataChanged = value != null && value != _sharedData;
            _sharedData = value;
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_sharedDataChanged)
        {
            SharedData.OnTagsChanged += StateHasChanged;
        }
    }
}