@if (CharacterViewModel == null)
{

}
else
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderAvatar >
                <MudAvatar Size="Size.Large" Image="@CharacterViewModel.AvatarLinkWithFallBack">@CharacterViewModel.Name[0]</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <CharacterNameLinkComponent Typo="Typo.h6"
                                            CharacterName="@CharacterViewModel.Name"
                                            CharacterClass="@CharacterViewModel.Class"
                                            CharacterRealmId="@CharacterViewModel.RealmId"
                                            CharacterRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />
                <div>
                    <MudText Inline="true"  Typo="Typo.body2" >@CharacterViewModel.Level</MudText>
                    <CharacterRaceComponent Typo="Typo.body2" Inline="true" CharacterRace="@CharacterViewModel.Race" />
                    <CharacterClassComponent Typo="Typo.body2" Inline="true" CharacterClass="@CharacterViewModel.Class" />
                </div>

                @if (CharacterViewModel.GuildRef != null)
                {
                    var moaRef = new MoaRef(CharacterViewModel.GuildRef);
                    <GuildNameLinkComponent Class="d-block"
                                            Typo="Typo.body2"
                                            GuildName="@CharacterViewModel.GuildName"
                                            GuildRealmId="0"
                                            GuildRealmSlug="@moaRef.Realm"
                                            GuildRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />
                }

                <RealmLinkComponent Class="d-block" Typo="Typo.caption" BlizzardRealmId="@CharacterViewModel.RealmId" />
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
}

@code {
    [Parameter, EditorRequired] public IMoaServices Services { get; init; }

    [Parameter, EditorRequired] public CharacterViewModel CharacterViewModel { get; init; }
}
