@if (CharacterViewModel == null)
{

}
else if (CharacterViewModel.IsLoadingFromArmory)
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardContent Class="@ClassPresets.CardContent">
            <MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Center">Loading Character From Armory...</MudAlert>
        </MudCardContent>
    </MudCard>
}
else
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderAvatar>
                <MudAvatar Size="Size.Large" Image="@CharacterViewModel.AvatarLinkWithFallBack">@CharacterViewModel.Name[0]</MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <CharacterNameLinkComponent Typo="Typo.h6"
                                        CharacterName="@CharacterViewModel.Name"
                                        CharacterClass="@CharacterViewModel.Class"
                                        CharacterRealmId="@CharacterViewModel.RealmId"
                                        CharacterRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />
                <div>
                    <MudText Inline="true" Typo="Typo.body2">@CharacterViewModel.Level</MudText>
                    <CharacterRaceComponent Typo="Typo.body2" Inline="true" CharacterRace="@CharacterViewModel.Race" />
                    <CharacterClassComponent Typo="Typo.body2" Inline="true" CharacterClass="@CharacterViewModel.Class" />
                </div>

                @if (CharacterViewModel.GuildRef != null)
                {
                    var moaRef = new MoaRef(CharacterViewModel.GuildRef);
                    <div>
                        <GuildNameLinkComponent Typo="Typo.body2"
                                        GuildName="@CharacterViewModel.GuildName"
                                        GuildRealmId="0"
                                        GuildRealmSlug="@moaRef.Realm"
                                        GuildRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />
                    </div>
                }
                <div>
                    <RealmLinkComponent Typo="Typo.caption" BlizzardRealmId="@CharacterViewModel.RealmId" />
                </div>
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
}

@code {
    [Parameter, EditorRequired] public IMoaServices Services { get; init; }

    [Parameter, EditorRequired] public CharacterViewModel CharacterViewModel { get; init; }
}
