@using AzerothMemories.WebBlazor.Blizzard
@inject IStringLocalizer<BlizzardResources> _stringLocalizer

@{
    if (LinkDisabled)
    {
        <CharacterNameComponent Inline="true" Typo="@Typo" CharacterName="@CharacterName" CharacterClass="@CharacterClass" />
    }
    else if (CharacterRealmId > 0)
    {
        <a href="character\@CharacterRegionInfo.TwoLettersLower\@_stringLocalizer[$"RealmSlug-{CharacterRealmId}"]\@CharacterName">
            <CharacterNameComponent Inline="true" Typo="@Typo" CharacterName="@CharacterName" CharacterClass="@CharacterClass" />
        </a>
    }
    else if (!string.IsNullOrWhiteSpace(CharacterRealmSlug))
    {
        <a href="character\@CharacterRegionInfo.TwoLettersLower\@CharacterRealmSlug\@CharacterName">
            <CharacterNameComponent Inline="true" Typo="@Typo" CharacterName="@CharacterName" CharacterClass="@CharacterClass" />
        </a>
    }
}

@code {
    [Parameter] public Typo Typo { get; set; } = Typo.body1;
    [Parameter] public bool LinkDisabled { get; init; }
    [Parameter] public int CharacterRealmId { get; set; }
    [Parameter] public string CharacterRealmSlug { get; set; }
    [Parameter, EditorRequired] public string CharacterName { get; set; }
    [Parameter, EditorRequired] public byte CharacterClass { get; set; }
    [Parameter, EditorRequired] public BlizzardRegionInfo CharacterRegionInfo { get; set; }
}