@inject IStringLocalizer<BlizzardResources> _stringLocalizer

@{
    var cssClass = $"{Class} wowclass-{CharacterClass}";

    if (LinkDisabled)
    {
        <MudText Class="@cssClass" Typo="@Typo">@_stringLocalizer[$"CharacterClass-{CharacterClass}"]</MudText>
    }
    else
    {
        var link = $"postsearch?tag={PostTagType.CharacterClass}-{CharacterClass}";
        <a href="@link">
            <MudText Class="@cssClass" Typo="@Typo">@_stringLocalizer[$"CharacterClass-{CharacterClass}"]</MudText>
        </a>
    }
}

@code {
    [Parameter] public string Class { get; init; } = string.Empty;
    [Parameter] public Typo Typo { get; init; } = Typo.body1;
    [Parameter] public bool LinkDisabled { get; init; }
    [Parameter, EditorRequired] public byte CharacterClass { get; init; }
}