<a href="character\@CharacterViewModel.RegionId.ToInfo().TwoLetters\@StringLocalizer[$"RealmSlug-{CharacterViewModel.RealmId}"]\@CharacterViewModel.Name">
    <MudTooltip Placement="Placement.Bottom" Color="Color.Dark">
        <ChildContent>
            <MudButton Variant="Variant.Filled">
                <MudAvatar Size="Size.Medium" Image="@CharacterViewModel.AvatarLinkWithFallBack" />
            </MudButton>
        </ChildContent>
        <TooltipContent>
            <CharacterNameLinkComponent CharacterName="@CharacterViewModel.Name"
                                        CharacterClass="@CharacterViewModel.Class"
                                        CharacterRealmId="@CharacterViewModel.RealmId"
                                        CharacterRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />

            <div>
                <MudText Typo="Typo.body2" Class="d-inline">@CharacterViewModel.Level @StringLocalizer[$"CharacterRace-{CharacterViewModel.Race}"]</MudText>
                <MudText Typo="Typo.body2" Class=@($"d-inline wowclass-{CharacterViewModel.Class}")>@StringLocalizer[$"CharacterClass-{CharacterViewModel.Class}"]</MudText>
            </div>

            <RealmLinkComponent Typo="Typo.caption" BlizzardRealmId="@CharacterViewModel.RealmId" />
        </TooltipContent>
    </MudTooltip>
</a>

@code {

    [Parameter, EditorRequired] public IStringLocalizer<BlizzardResources> StringLocalizer { get; init; }

    [Parameter, EditorRequired] public CharacterViewModel CharacterViewModel { get; init; }
}
