<a href="character\@CharacterViewModel.RegionId.ToInfo().TwoLettersLower\@BlizzardStringLocalizer[$"RealmSlug-{CharacterViewModel.RealmId}"]\@CharacterViewModel.Name">
    <MudTooltip Placement="Placement.Bottom" Color="Color.Dark">
        <ChildContent>
            <MudButton Variant="Variant.Filled">
                <MudAvatar Size="Size.Medium">
                    <MudImage Src="@CharacterViewModel.AvatarLinkWithFallBack" />
                </MudAvatar>
            </MudButton>
        </ChildContent>
        <TooltipContent>
            <CharacterNameLinkComponent CharacterName="@CharacterViewModel.Name"
                                        CharacterClass="@CharacterViewModel.Class"
                                        CharacterRealmId="@CharacterViewModel.RealmId"
                                        CharacterRegionInfo="@CharacterViewModel.RegionId.ToInfo()" />

            <div>
                <MudText Typo="Typo.body2" Inline="true">@CharacterViewModel.Level @BlizzardStringLocalizer[$"CharacterRace-{CharacterViewModel.Race}"]</MudText>
                <MudText Typo="Typo.body2" Inline="true" Class=@($"wowclass-{CharacterViewModel.Class}")>@BlizzardStringLocalizer[$"CharacterClass-{CharacterViewModel.Class}"]</MudText>
            </div>

            <RealmLinkComponent Typo="Typo.caption" BlizzardRealmId="@CharacterViewModel.RealmId" />
        </TooltipContent>
    </MudTooltip>
</a>

@code {

    [Parameter, EditorRequired] public IStringLocalizer<BlizzardResources> BlizzardStringLocalizer { get; init; }

    [Parameter, EditorRequired] public CharacterViewModel CharacterViewModel { get; init; }
}