@if (HeaderData == null)
{
    <CardLoadingComponent />
}
else if (HeaderData.Year == -1)
{
    <CardErrorComponent ErrorMessage="Failed" />
}
else
{
    var mainData = HeaderData.Main ?? new DailyActivityResultsMain();
    var userData = HeaderData.User ?? new DailyActivityResultsUser();

    _allBlobInfos.Clear();

    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderContent>
                @if (HeaderData.Year == 0)
                {
                    <a href="/on-this-day">
                        <MudText Typo="Typo.h6">On This Day in Azeroth</MudText>
                    </a>
                }
                else
                {
                    <MudText Typo="Typo.h6">Year @HeaderData.Year</MudText>
                }

                @if (mainData.TotalTags > 0)
                {
                    <MudText Typo="Typo.body1">Total Tags: @mainData.TotalTags.ToString("N0")</MudText>
                }

                @if (mainData.TotalAchievements > 0)
                {
                    <MudText Typo="Typo.body1">Total Achievements: @mainData.TotalAchievements.ToString("N0")</MudText>
                }

                @if (userData.Achievements.Count > 0)
                {
                    <MudText Typo="Typo.body1">Your Achievements: @userData.Achievements.Count.ToString("N0")</MudText>
                }

                @if (userData.FirstAchievements.Count > 0)
                {
                    <MudText Typo="Typo.body1">Your First Achievements: @userData.FirstAchievements.Count.ToString("N0")</MudText>
                }
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent Class="@ClassPresets.CardContent">
            @{
                var mainTuples = new (string Text, List<ActivityResultsTuple> Items)[]
                {
                    new("Top Tags", mainData.TopTags),
                    new("Top Achievements", mainData.TopAchievements),
                };

                var otherTuples = new (string Text, List<PostTagInfo> Items)[]
                {
                    new("First Tags", mainData.FirstTags),
                    new("First Achievements", mainData.FirstAchievements),
                    new("Your Achievements", userData.Achievements),
                    new("Your First Achievements", userData.FirstAchievements),
                };

                foreach (var (text, items) in mainTuples)
                {
                    @if (items.Count > 0)
                    {
                        <MudPaper Outlined="true" Class="ma-2 pa-2">
                            <MudText Typo="Typo.body2"><b>@text</b></MudText>
                            @foreach (var valueTuple in items)
                            {
                                <MudBadge Origin="Origin.TopRight" Content="valueTuple.Counter.ToMetric()" Visible="@(valueTuple.Counter > 0)" Color="Color.Dark" Overlap="true" Dot="false">
                                    <PostTagChipComponent TagInfo="valueTuple.PostTagInfo" OnClick="() => OnMainTagClicked(valueTuple.PostTagInfo)" />
                                </MudBadge>
                            }
                        </MudPaper>
                    }
                }

                foreach (var (text, items) in otherTuples)
                {
                    @if (items.Count > 0)
                    {
                        <MudPaper Outlined="true" Class="ma-2 pa-2">
                            <MudText Typo="Typo.body2"><b>@text</b></MudText>
                            @foreach (var postTagInfo in items)
                            {
                                <PostTagChipComponent TagInfo="postTagInfo" OnClick="() => OnMainTagClicked(postTagInfo)" />
                            }
                        </MudPaper>
                    }
                }

                if (userData.MyMemories.Count > 0)
                {
                    <MudPaper Outlined="true" Class="ma-2 pa-2">

                        @foreach (var memory in userData.MyMemories)
                        {
                            var link = $"post/{memory.AccountId}/{memory.PostId}";

                            <a href="@link">
                                <MudText Typo="Typo.body2">@TimeProvider.GetTimeAsLocalStringAgo(memory.PostTime, true)</MudText>
                            </a>

                            <MudGrid>
                                @foreach (var blobInfo in memory.BlobInfo)
                                {
                                    var index = _allBlobInfos.Count;

                                    _allBlobInfos.Add(blobInfo);

                                    <MudItem xs="12" sm="4">
                                        <MudImage ObjectFit="ObjectFit.Cover" Fluid="true" Src="@blobInfo.Source" @onclick="() => OnImageClicked(index)" />
                                    </MudItem>
                                }
                            </MudGrid>
                        }

                    </MudPaper>
                }
            }
        </MudCardContent>
    </MudCard>
}

@code {
    private readonly List<PostViewModelBlobInfo> _allBlobInfos = new();

    [Parameter, EditorRequired] public DailyActivityResults HeaderData { get; init; }
    [Parameter, EditorRequired] public NavigationManager NavigationManager { get; init; }
    [Parameter, EditorRequired] public TimeProvider TimeProvider { get; init; }

    [Inject] public IJSRuntime JsRuntime { get; init; }

    private void OnMainTagClicked(PostTagInfo postTagInfo)
    {
        var tagStrings = new List<string>
        {
            postTagInfo.TagString,
        };

        var dictionary = new Dictionary<string, object>
        {
            { "tag", tagStrings.ToArray() }
        };

        ZExtensions.AddToDictOrNull(dictionary, "ptmin", HeaderData.Main.StartTimeMs, HeaderData.Main.StartTimeMs == 0);
        ZExtensions.AddToDictOrNull(dictionary, "ptmax", HeaderData.Main.EndTimeMs, HeaderData.Main.EndTimeMs == 0);

        var newPath = NavigationManager.GetUriWithQueryParameters("postsearch", dictionary);
        NavigationManager.NavigateTo(newPath);
    }

    private void OnUserTagClicked(PostTagInfo postTagInfo)
    {
        var tagStrings = new List<string>();
        if (HeaderData.User.AccountId > 0)
        {
            tagStrings.Add(PostTagInfo.GetTagString(PostTagType.Account, HeaderData.User.AccountId));
        }

        tagStrings.Add(postTagInfo.TagString);

        var dictionary = new Dictionary<string, object>
        {
            { "tag", tagStrings.ToArray() }
        };

        ZExtensions.AddToDictOrNull(dictionary, "ptmin", HeaderData.User.StartTimeMs, HeaderData.User.StartTimeMs == 0);
        ZExtensions.AddToDictOrNull(dictionary, "ptmax", HeaderData.User.EndTimeMs, HeaderData.User.EndTimeMs == 0);

        var newPath = NavigationManager.GetUriWithQueryParameters("postsearch", dictionary);
        NavigationManager.NavigateTo(newPath);
    }

    private async Task OnImageClicked(int index)
    {
        await JsRuntime.InvokeVoidAsync("InitializeImageViewer", index, _allBlobInfos.ToArray());
    }
}
