@if (TagInfo == null)
{

}
else if (TagInfo.WowHeadLink == null)
{
    @if (TagInfo.IsChipClosable)
    {
        <MudChip @key="TagInfo.TagString" Variant="@Variant" Color="TagInfo.GetChipColor()" Default="Default" Value="TagInfo" OnClick="OnClick" OnClose="OnClose">
            @if (TagInfo.Image != null)
            {
                <MudAvatar Class="mr-2" Size="Size.Small">
                    <MudImage Src="@TagInfo.Image" />
                </MudAvatar>
            }

            @TagInfo.NameWithIcon
        </MudChip>
    }
    else
    {
        <MudChip @key="TagInfo.TagString" Variant="@Variant" Color="TagInfo.GetChipColor()" Default="Default" Value="TagInfo" OnClick="OnClick">
            @if (TagInfo.Image != null)
            {
                <MudAvatar Class="mr-2" Size="Size.Small">
                    <MudImage Src="@TagInfo.Image" />
                </MudAvatar>
            }

            @TagInfo.NameWithIcon
        </MudChip>
    }
}
else
{
    <a class="cardlink2" data-wowhead="@TagInfo.WowHeadLink">
        @if (TagInfo.IsChipClosable)
        {
            <MudChip @key="TagInfo.TagString" Variant="@Variant" Color="TagInfo.GetChipColor()" Default="Default" Value="TagInfo" OnClick="OnClick" OnClose="OnClose">
                @if (TagInfo.Image != null)
                {
                    <MudAvatar Class="mr-2" Size="Size.Small">
                        <MudImage Src="@TagInfo.Image" />
                    </MudAvatar>
                }

                @TagInfo.NameWithIcon
            </MudChip>
        }
        else
        {
            <MudChip @key="TagInfo.TagString" Variant="@Variant" Color="TagInfo.GetChipColor()" Default="Default" Value="TagInfo" OnClick="OnClick">
                @if (TagInfo.Image != null)
                {
                    <MudAvatar Class="mr-2" Size="Size.Small">
                        <MudImage Src="@TagInfo.Image" />
                    </MudAvatar>
                }

                @TagInfo.NameWithIcon
            </MudChip>
        }
    </a>
}

@code {

    [Parameter, EditorRequired] public PostTagInfo TagInfo { get; init; }

    [Parameter] public Variant Variant { get; init; } = Variant.Filled;

    [Parameter] public bool? Default { get; init; }

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; init; }

    [Parameter] public EventCallback<MudChip> OnClose { get; init; }
}