@if (Post == null)
{
    <CardLoadingComponent />
}
else if (Post.DeletedTimeStamp != 0)
{
    <MudCard Class="@ClassPresets.CardHeaderPostCard" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderContent>
                <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">Deleted by @(Post.DeletedTimeStamp > 0 ? "user" : "admin").</MudAlert>
            </CardHeaderContent>
        </MudCardHeader>
    </MudCard>
}
else
{
    <MudCard Class="@ClassPresets.CardHeaderPostCard" Outlined="true" Elevation="10">
        <MudCardHeader Class="@ClassPresets.CardHeader">
            <CardHeaderAvatar>
                <MudAvatar Size="Size.Medium" Image="@Post.AccountAvatar">@Post.AccountUsername[0]</MudAvatar>
                @if (!string.IsNullOrWhiteSpace(Post.PostAvatar))
                {
                    <MudAvatar Class="ml-n3 mt-5" Style="float: right" Size="Size.Small" Image="@Post.PostAvatar">?</MudAvatar>
                }
            </CardHeaderAvatar>
            <CardHeaderContent>
                <a href="@($"/account/{Post.AccountId}")" tabindex="-1">
                    <MudText Typo="Typo.body1" Inline="true">@Post.AccountUsername</MudText>
                </a>

                <div class="d-block d-sm-none">
                    <TimeAsLocalStringAgoComponent Typo="Typo.body2" Inline="false" Time="Post.PostTime" TimeProvider="@Services.ClientServices.TimeProvider"/>
                    <TimeAsLocalStringAgoComponent Typo="Typo.body2" Inline="false" Time="Post.PostCreatedTime" TimeProvider="@Services.ClientServices.TimeProvider" />
                </div>

                <div class="d-none d-sm-flex justify-space-between">
                    <TimeAsLocalStringAgoComponent Typo="Typo.body2" Inline="true" Time="Post.PostTime" TimeProvider="@Services.ClientServices.TimeProvider"/>
                    <TimeAsLocalStringAgoComponent Typo="Typo.body2" Inline="true" Time="Post.PostCreatedTime" TimeProvider="@Services.ClientServices.TimeProvider" />
                </div>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudMenu Icon="@Icons.Material.Filled.Settings" Size="Size.Small" Dense="true">

                    <MudMenuItem Link="@($"/post/{Post.AccountId}/{Post.Id}")">
                        <MudTooltip Text="Link" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                            <MudIcon Icon="@Icons.Material.Filled.AddLink" Size="Size.Small" />
                        </MudTooltip>
                    </MudMenuItem>

                    @if (Services.ClientServices.ActiveAccountServices.IsActiveAccount(Post.AccountId) || Services.ClientServices.ActiveAccountServices.AccountViewModel.IsAdmin())
                    {
                        <MudMenuItem OnClick="@OnTogglePostVisibility" OnTouch="@OnTogglePostVisibility">
                            <MudTooltip Text="Toggle Visibility" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                                <MudIcon Icon="@(Post.PostVisibility == 0 ? Icons.Material.Filled.VisibilityOff : Icons.Material.Filled.Visibility)" Size="Size.Small " />
                            </MudTooltip>
                        </MudMenuItem>

                        <MudMenuItem OnClick="@OnEditPostTags" OnTouch="@OnEditPostTags">
                            <MudTooltip Text="Edit Tags" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                                <MudIcon Icon="@Icons.Material.Filled.Edit" Size="Size.Small " />
                            </MudTooltip>
                        </MudMenuItem>

                        <MudMenuItem OnClick="@OnDeletePost" OnTouch="@OnDeletePost" Disabled="@(Post.DeletedTimeStamp != 0)">
                            <MudTooltip Text="Delete" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                                <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Size="Size.Small " />
                            </MudTooltip>
                        </MudMenuItem>
                    }

                    @if (Services.ClientServices.ActiveAccountServices.AccountViewModel.CanReport() && !Services.ClientServices.ActiveAccountServices.IsActiveAccount(Post.AccountId))
                    {
                        <MudMenuItem OnClick="@OnReportPostTags" OnTouch="@OnReportPostTags">
                            <MudTooltip Text="Report Tags" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                                <MudIcon Icon="@Icons.Material.Filled.RepeatOneOn" Size="Size.Small" />
                            </MudTooltip>
                        </MudMenuItem>

                        <MudMenuItem OnClick="@OnReportPost" OnTouch="@OnReportPost">
                            <MudTooltip Text="Report" Arrow="true" Placement="Placement.Left" Color="Color.Dark">
                                <MudIcon Icon="@Icons.Material.Filled.Report" Size="Size.Small" />
                            </MudTooltip>
                        </MudMenuItem>
                    }
                </MudMenu>
            </CardHeaderActions>
        </MudCardHeader>

        <MudDivider />

        <MudCardContent Class="@ClassPresets.CardContent">
            @if (DoseNotHavePermission)
            {
                <MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">You do not have permission to view this post.</MudAlert>
            }
            else
            {
                if (!string.IsNullOrWhiteSpace(Post.PostComment))
                {
                    <MudText Typo="Typo.body2" Style="overflow-wrap: break-word;">@(new MarkupString(Post.PostComment))</MudText>
                }

                var allBlobInfo = Post.GetImageBlobInfo();

                @for (var i = 0; i < allBlobInfo.Length; i++)
                {
                    var index = i;
                    var blobInfo = allBlobInfo[index];

                    <PostImageHelperComponent Source="@blobInfo.Source" OnClick="() => OnImageClicked(index)" />
                }

                <div class="d-flex justify-space-between pa-0 ma-2">
                    @if (InDialog)
                    {
                        @*<MudText Typo="Typo.body2">@ZExtensions.BuildReactionString(Post.TotalReactionCount, Post.ReactionCounters)</MudText>*@
                        <MudText Class="cardLinkText" Typo="Typo.body2" @onclick="OnReactionLinkClicked">@ZExtensions.BuildReactionString(Post.TotalReactionCount, Post.ReactionCounters)</MudText>
                        <MudText Typo="Typo.body2">@Post.TotalCommentCount.ToMetric() Comments</MudText>
                    }
                    else
                    {
                        <MudText Class="cardLinkText" Typo="Typo.body2" @onclick="OnReactionLinkClicked">@ZExtensions.BuildReactionString(Post.TotalReactionCount, Post.ReactionCounters)</MudText>
                        <MudText Class="cardLinkText" Typo="Typo.body2" @onclick="OnCommentButtonClicked">@Post.TotalCommentCount.ToMetric() Comments</MudText>
                    }
                </div>
            }

            <MudDivider Class="my-1" />

            @{
                var systemTags = Post.SystemTags;
                if (systemTags != null)
                {
                    foreach (var tagInfo in systemTags)
                    {
                        if (OnTagChipClickedCallback.HasDelegate)
                        {
                            <PostTagChipComponent @key="@tagInfo" TagInfo="tagInfo" OnClick="@(() => OnTagChipClickedCallback.InvokeAsync(tagInfo))" />
                        }
                        else
                        {
                            <PostTagChipComponent @key="@tagInfo" TagInfo="tagInfo" OnClick="@(() => Services.ClientServices.NavigationManager.NavigateTo(tagInfo.GetTagQueryLink()))" />
                        }
                    }
                }
            }
        </MudCardContent>
        @{
            var reactIsDisabled = !Services.ClientServices.ActiveAccountServices.AccountViewModel.CanReactToPost() || DoseNotHavePermission;
            var restoreIsDisabled = !Services.ClientServices.ActiveAccountServices.AccountViewModel.CanRestoreMemory() || DoseNotHavePermission;
            var commentIsDisabled = !Services.ClientServices.ActiveAccountServices.AccountViewModel.CanPublishComment() || DoseNotHavePermission;
            <MudCardActions Class="@ClassPresets.CardActions">
                <MudButtonGroup OverrideStyles="true" Class="pa-0 ma-2" Variant="Variant.Filled" Size="Size.Small">
                    <MudButton StartIcon="@Icons.Material.Filled.Favorite" IconColor="@(Post.Reaction == PostReaction.None ? Color.Default : Color.Secondary)" Disabled="@(reactIsDisabled || _userReacting)" OnClick="() => OnReactButtonClicked(Post.Reaction)">@Post.Reaction.Humanize()</MudButton>
                    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Disabled="@(reactIsDisabled || _userReacting)" Direction="Direction.Bottom" OffsetY="true">
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction1)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction1)">@PostReaction.Reaction1.Humanize()</MudMenuItem>
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction2)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction2)">@PostReaction.Reaction2.Humanize()</MudMenuItem>
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction3)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction3)">@PostReaction.Reaction3.Humanize()</MudMenuItem>
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction4)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction4)">@PostReaction.Reaction4.Humanize()</MudMenuItem>
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction5)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction5)">@PostReaction.Reaction5.Humanize()</MudMenuItem>
                        <MudMenuItem OnClick="() => OnReactButtonClicked(PostReaction.Reaction6)" OnTouch="() => OnReactButtonClicked(PostReaction.Reaction6)">@PostReaction.Reaction6.Humanize()</MudMenuItem>
                    </MudMenu>
                    <MudButton StartIcon="@Icons.Material.Filled.Comment" Disabled="@commentIsDisabled" OnClick="OnCommentButtonClicked">Comments</MudButton>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        <MudButton StartIcon="@Icons.Material.Filled.Share" Disabled="@(restoreIsDisabled || _isChangingTags)" OnClick="() => _showTagMenu = !_showTagMenu">Restore Memory</MudButton>
                    </MudHidden>
                </MudButtonGroup>
            </MudCardActions>

            if (Services.ClientServices.ActiveAccountServices.AccountViewModel.CanRestoreMemory())
            {
                <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="false">
                    <MudCardActions Class="@ClassPresets.CardActions">
                        <MudButton StartIcon="@Icons.Material.Filled.Share" FullWidth=true Variant="Variant.Filled" Size="Size.Small" Disabled="@(restoreIsDisabled || _isChangingTags)" OnClick="() => _showTagMenu = !_showTagMenu">Restore Memory</MudButton>
                    </MudCardActions>
                </MudHidden>
            }
        }
    </MudCard>

    @if (DoseNotHavePermission)
    {

    }
    else
    {
        if (_showReactions)
        {
            var reactionData = _postReactions;
            if (_reactionAreLoading)
            {
                <CardLoadingComponent />
            }
            else
            {
                <PostReactionsDisplayCard Services="@Services" ReactionData="@reactionData" />
            }
        }

        if (_showTagMenu)
        {
            if (_isChangingTags)
            {
                <CardLoadingComponent />
            }
            else
            {
                var systemTags = Post.SystemTags;
                if (systemTags != null)
                {
                    var characters = Services.ClientServices.ActiveAccountServices.AccountViewModel.GetCharactersSafe();
                    var accountIsTagged = systemTags.FirstOrDefault(x => x.Type == PostTagType.Account && x.Id == Services.ClientServices.ActiveAccountServices.AccountViewModel.Id) != null;

                    if (accountIsTagged || characters.Length > 0)
                    {
                        CharacterViewModel taggedCharacter = null;
                        foreach (var moaCharacterViewModel in characters)
                        {
                            var tagInfo = systemTags.FirstOrDefault(x => x.Type == PostTagType.Character && x.Id == moaCharacterViewModel.Id);
                            if (tagInfo == null)
                            {
                                continue;
                            }

                            taggedCharacter = moaCharacterViewModel;
                        }

                        <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
                            <MudCardContent Class="@ClassPresets.CardContent">

                                @if (Services.ClientServices.ActiveAccountServices.AccountViewModel.Id != Post.AccountId)
                                {
                                    <MudTooltip Placement="Placement.End" Color="Color.Dark">
                                        <ChildContent>
                                            <MudButton Variant="Variant.Filled" Disabled="!accountIsTagged && taggedCharacter == null" OnClick="() => OnRestoreButtonClicked(-1)">
                                                <MudAvatar Size="Size.Medium">?</MudAvatar>
                                            </MudButton>
                                        </ChildContent>
                                        <TooltipContent>
                                            <MudText>None</MudText>
                                        </TooltipContent>
                                    </MudTooltip>
                                }

                                <MudTooltip Placement="Placement.End" Color="Color.Dark">
                                    <ChildContent>
                                        <MudButton Variant="Variant.Filled" Disabled="accountIsTagged && taggedCharacter == null" OnClick="() => OnRestoreButtonClicked(0)">
                                            <MudAvatar Size="Size.Medium" Image="@Services.ClientServices.ActiveAccountServices.AccountViewModel.Avatar">@Services.ClientServices.ActiveAccountServices.AccountViewModel.GetAvatarText()</MudAvatar>
                                        </MudButton>
                                    </ChildContent>
                                    <TooltipContent>
                                        <MudText>Account</MudText>
                                    </TooltipContent>
                                </MudTooltip>

                                @for (var i = 0; i < characters.Length; i++)
                                {
                                    var index = i;
                                    var character = characters[index];

                                    <MudTooltip @key="@character.Id" Placement="Placement.Bottom" Color="Color.Dark">
                                        <ChildContent>
                                            <MudButton Id="@index" Variant="Variant.Filled" Disabled="taggedCharacter != null && taggedCharacter.Id == character.Id" OnClick="() => OnRestoreButtonClicked(character.Id)">
                                                <MudAvatar Size="Size.Medium" Image="@character.AvatarLinkWithFallBack"/>
                                            </MudButton>
                                        </ChildContent>
                                        <TooltipContent>
                                            <CharacterNameLinkComponent CharacterName="@character.Name"
                                                                        CharacterClass="@character.Class"
                                                                        CharacterRealmId="@character.RealmId"
                                                                        CharacterRegionInfo="@character.RegionId.ToInfo()"/>

                                            <div>
                                                <MudText Inline="true" Typo="Typo.body2">@character.Level @Services.ClientServices.BlizzardStringLocalizer[$"CharacterRace-{character.Race}"]</MudText>
                                                <MudText Inline="true" Typo="Typo.body2" Class=@($"wowclass-{character.Class}")>@Services.ClientServices.BlizzardStringLocalizer[$"CharacterClass-{character.Class}"]</MudText>
                                            </div>

                                            <RealmLinkComponent Typo="Typo.caption" BlizzardRealmId="@character.RealmId"/>
                                        </TooltipContent>
                                    </MudTooltip>
                                }
                            </MudCardContent>
                        </MudCard>
                    }
                    else
                    {
                        <CardInfoComponent Message="No Characters" />
                    }
                }
            }
        }
    }
}

@code {
    private bool _postChanged;
    private readonly PostViewModel _post;

    private bool _userReacting;
    private bool _showReactions;
    private bool _reactionAreLoading;
    private PostReactionViewModel[] _postReactions;

    private bool _showTagMenu;
    private bool _isChangingTags;

    [Parameter, EditorRequired]
    public IMoaServices Services { get; init; }

    [Parameter, EditorRequired]
    public PostViewModel Post
    {
        get => _post;
        init
        {
            _postChanged = _post != value;
            _post = value;
        }
    }

    [Parameter] public bool InDialog { get; init; }

    [Parameter] public EventCallback<PostTagInfo> OnTagChipClickedCallback { get; init; }

    public bool DoseNotHavePermission => Post.PostVisibility == 255;

    //public bool IsDisabled => !Services.ClientServices.ActiveAccountServices.IsAccountActiveAndCanInteract || DoseNotHavePermission;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (_postChanged)
        {
            if (Post != null)
            {
                if (_showReactions)
                {
                    await TryLoadReactions();
                }
            }

            _postChanged = false;
        }
    }

    private async Task OnReactButtonClicked(PostReaction newReaction)
    {
        if (_userReacting)
        {
            return;
        }

        if (newReaction == PostReaction.None)
        {
            newReaction = PostReaction.Reaction1;
        }

        if (Post.Reaction == newReaction)
        {
            newReaction = PostReaction.None;
        }

        _userReacting = true;

        var postId = Post.Id;

        var result = await Services.ClientServices.CommandRunner.Run(new Post_TryReactToPost(Session.Default, postId, newReaction));
        if (result.Value > 0)
        {
            Post.ReactionId = result.Value;
            Post.Reaction = newReaction;
        }

        _userReacting = false;

        StateHasChanged();
    }

    private async Task OnReactionLinkClicked()
    {
        _showReactions = !_showReactions;

        if (_showReactions && _postReactions == null)
        {
            await TryLoadReactions();
        }
    }

    private async Task TryLoadReactions()
    {
        if (!_showReactions)
        {
            return;
        }

        if (_reactionAreLoading)
        {
            return;
        }

        _reactionAreLoading = true;

        var postId = Post.Id;
        var reactionData = await Services.ComputeServices.PostServices.TryGetReactions(Session.Default, postId);
        if (reactionData == null)
        {
            _postReactions = null;
        }
        else if (reactionData.Length == 0)
        {
            _postReactions = Array.Empty<PostReactionViewModel>();
        }
        else
        {
            _postReactions = reactionData.OrderBy(x => x.LastUpdateTime).ToArray();
        }

        _reactionAreLoading = false;
    }

    private void OnCommentButtonClicked()
    {
        Services.ClientServices.NavigationManager.NavigateTo($"/post/{Post.AccountId}/{Post.Id}");
    }

    private async Task OnRestoreButtonClicked(int characterId)
    {
        if (_isChangingTags)
        {
            return;
        }

        _isChangingTags = true;

        var postId = Post.Id;
        var result = await Services.ClientServices.CommandRunner.Run(new Post_TryRestoreMemory(Session.Default, postId, characterId));
        if (result.Value)
        {
            _showTagMenu = false;
        }

        _isChangingTags = false;
    }

    private async Task OnDeletePost()
    {
        if (Post.DeletedTimeStamp != 0)
        {
            return;
        }

        var confirmationResult = await Services.ClientServices.DialogService.ShowMessageBox("Warning", "Deleting can not be undone!", "Delete!", "Cancel");
        if (confirmationResult.HasValue && confirmationResult.Value)
        {
            var postId = Post.Id;
            var result = await Services.ClientServices.CommandRunner.Run(new Post_TryDeletePost(Session.Default, postId));
            Post.DeletedTimeStamp = result.Value;

            var message = Post.DeletedTimeStamp == 0 ? "Post delete failed." : "Post deleted.";
            await Services.ClientServices.DialogService.ShowNotificationDialog(true, message);
        }
    }

    private void OnEditPostTags()
    {
        Services.ClientServices.NavigationManager.NavigateTo($"/edittags/{Post.AccountId}/{Post.Id}");
    }

    private async Task OnTogglePostVisibility()
    {
        var postId = Post.Id;
        var newVisibility = Post.PostVisibility == 1 ? (byte)0 : (byte)1;
        var result = await Services.ClientServices.CommandRunner.Run(new Post_TrySetPostVisibility(Session.Default, postId, newVisibility));
        if (result.Value == null)
        {
            await Services.ClientServices.DialogService.ShowNotificationDialog(false, "Post visibility change failed.");
        }
        else
        {
            Post.PostVisibility = result.Value.Value;

            await Services.ClientServices.DialogService.ShowNotificationDialog(true, "Post visibility changed.");
        }
    }

    private async Task OnReportPost()
    {
        await Services.ClientServices.DialogService.ShowReportPostDialog($"Report {Post.AccountUsername}'s Post ({Post.Id})", Post.Id, 0);
    }

    private async Task OnReportPostTags()
    {
        await Services.ClientServices.DialogService.ShowReportPostTagsDialog($"Report Post Tags ({Post.Id})", Post);
    }

    private async Task OnImageClicked(int index)
    {
        if (Post == null)
        {
            return;
        }

        await Services.ClientServices.JsRuntime.InvokeVoidAsync("InitializeImageViewer", index, Post.GetImageBlobInfo());
    }
}