<form @onsubmit=Submit>
    <MudGrid>
        <MudItem xs="@(Lines == 1 ? 11 : 12)" Class="my-auto">
            <MudTextField id="mudTextField"
                          @ref="_textField"
                          @bind-Value="@_currentTextFieldText"
                          T="string"
                          Label="Comment"
                          Variant="Variant.Filled"
                          Lines="@Lines"
                          FullWidth="true"
                          Margin="Margin.Dense"
                          DisableUnderLine="true"
                          Disabled="@Disabled"
                          AutoFocus="@AutoFocus"
                          MaxLength="@MaxLength"
                          Immediate="true"
                          autocomplete="off">
            </MudTextField>
        </MudItem>

        @if (Lines == 1)
        {
            <MudItem xs="1" Class="my-auto mx-n4">
                <MudIconButton Variant="Variant.Filled"
                               Size="Size.Medium"
                               Icon="@Icons.Filled.Send"
                               Color="Color.Primary"
                               Disabled="@(string.IsNullOrWhiteSpace(_currentTextFieldText) || _currentTextFieldText.Length <= 1)"
                               OnClick="Submit" />
            </MudItem>
        }
    </MudGrid>
</form>

@code
{
    private MudTextField<string> _textField;
    private string _currentTextFieldText;

    [Parameter] public int Lines { get; init; } = 1;

    [Parameter] public int MaxLength { get; init; } = ZExtensions.MaxCommentLength / 2;

    [Parameter] public bool Disabled { get; init; }

    [Parameter] public bool AutoFocus { get; init; }

    [Parameter] public Dictionary<long, string> TagsList { get; init; }

    [Parameter] public EventCallback<string> OnSingleLineSubmit { get; init; }

    [Inject] public IJSRuntime JsRuntime { get; init; }

    public Dictionary<long, string> ExtraTags { get; } = new();

    public Dictionary<long, string> FullTagsList
    {
        get
        {
            var newDict = new Dictionary<long, string>(TagsList);
            foreach (var kvp in ExtraTags)
            {
                newDict.TryAdd(kvp.Key, kvp.Value);
            }

            return newDict;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var jsArray = (from userTag in FullTagsList
                select new { key = userTag.Value }).ToArray();

            await JsRuntime.InvokeVoidAsync("SetUpTagTextBox", "mudTextField", jsArray);
        }
    }

    public void SetText(string text)
    {
        _currentTextFieldText = text;
    }

    public void Reset()
    {
        _currentTextFieldText = string.Empty;
    }

    private async Task Submit()
    {
        var commentText = GetCommentText();
        if (Lines == 1 && !string.IsNullOrWhiteSpace(commentText) && commentText.Length > 1)
        {
            await OnSingleLineSubmit.InvokeAsync(commentText);
        }
    }

    public string GetCommentText()
    {
        var commentText = _currentTextFieldText;
        if (string.IsNullOrWhiteSpace(commentText))
        {
            return string.Empty;
        }

        if (commentText.Length > MaxLength)
        {
            commentText = commentText[..MaxLength];
        }

        return commentText;
    }
}