@if (PostSearchHelper == null || PostSearchHelper.IsLoading)
{
    <CardLoadingComponent />
}
else if (PostSearchHelper.NoResults)
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardContent Class="@ClassPresets.CardContent">
            <MudText Align="Align.Center">None</MudText>
        </MudCardContent>
    </MudCard>
}
else if (PostSearchHelper.CurrentPosts.Length > 0)
{
    <MudCard Class="@ClassPresets.Card" Outlined="true" Elevation="10">
        <MudCardContent Class="@ClassPresets.CardContentNone">
            <div class="d-flex justify-end">
                <PostSortByComponent SortMode="@PostSearchHelper.PostSortMode" OnSortModeChanged="@PostSearchHelper.OnSortChanged" />
            </div>
        </MudCardContent>
    </MudCard>

    <div id="moa-top-header"></div>

    for (var i = 0; i < PostSearchHelper.CurrentPosts.Length; i++)
    {
        var index = i;
        var post = PostSearchHelper.CurrentPosts[index];

        var id = $"moa-account-post-{index}";
        var divKey = $"moa-post-div-{post.Id }";
        var postKey = $"moa-post-post-{post.Id}";

        <div id="@id" @key="@divKey">
            @{
                if (IsSearchPage)
                {
                    <PostComponent @key="@postKey" Services="@PostSearchHelper.Services" Post="@post" OnTagChipClickedCallback="@PostSearchHelper.OnTagChipClickedCallback" />
                }
                else
                {
                    <PostComponent @key="@postKey" Services="@PostSearchHelper.Services" Post="@post" />
                }
            }
        </div>
    }

    <div class="d-flex justify-center">
        <MudPagination Selected="@PostSearchHelper.CurrentPage" SelectedChanged="@PostSearchHelper.TryChangePage" BoundaryCount="2" MiddleCount="5" Rectangular="true" Variant="Variant.Filled" ShowFirstButton="true" ShowLastButton="true" Count="@PostSearchHelper.TotalPages" />
    </div>
}
else
{
    throw new NotImplementedException();
}

@code
{
    [Parameter] public bool IsSearchPage { get; init; }

    [Parameter, EditorRequired] public PostSearchHelper PostSearchHelper { get; init; }
}